
#logo{
  background-image: url("../image/backgrounds/landing.jpg");

}
#logo1{
  color:white;
  font-size: 30px;
  align-items: center;
  padding-left: 35%;
  padding-top: 5%;
}
#happyhour{
  background-color: rgb(226, 230, 217);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  font-family: sans-serif;
}
  #happyhour a{
  text-decoration: none;
  color: grey;
}
#partytime{
  background-color: rgb(255, 72, 0);
  text-align: center;
  padding: 30px 30px;
  font-size: 30px;
  font-family: serif;
}
  #partytime a{
  text-decoration: none;
  color: white;
}
#breakfast{
  background-image: url("../image/foodtop/breakfast.jpg");
  text-align: center;
  padding: 81px 81px;
  font-size: 30px;
  font-family:serif;
  font-weight: 400;
}
#breakfast  a{
  text-decoration: none;
  color: white;
}
#lunch{
  background-image: url("../image/foodtop/lunch.jpg");
  text-align: center;
  padding: 81px 81px;
  font-size: 30px;
  font-family:serif;
  font-weight: bolder;
  font-style: oblique;
  opacity: 0.3;
  z-index:-1;
}
#lunch a{
  text-decoration: none;
  color: white;
}
#dinner{
  background-image: url("../image/foodtop/dinner.jpg");
  text-align: center;
  padding: 81px 81px;
  font-size: 30px;
}
#dinner  a{
  text-decoration: none;
  color: white;
}
#fastfood{
  margin-top: 50px;
  border: 2px solid rgb(196, 206, 234);
  padding: 2%;
}
#fastfoods{
  margin-top: 50px;
  padding-left: 50px;
}
#fastfoods p{
  color: grey;
  font-weight: 200;
}
#fastfoods h3{
  font-weight: bold;
  font-family: serif;
  font-size: 30px;
}
#fastdrinks{
  margin-top: 50px;
  text-align: right;
  padding-right: 50px;
}
#fastdrinks p{
  color: grey;
  font-weight: 200;
}
#fastdrinks h3{
  font-family: serif;
  font-weight: bold;
  font-size: 30px;
}
#fastfoodimage{
  background-image: url("../image/backgrounds/subscribe.jpg");
  height: 200px;
  margin-top: 20px;
}
#buttongallery{
  width: 170px;
  height: 50px;
  background-color: white;
  border: 0.5px solid rgb(255, 72, 0);
}
#buttongallery {
  border-left-color:2px solid ;
  font-size: 15px;
  font-weight:lighter;
  color: rgb(255, 72, 0);
}
#navfoods{
  background-image: url("../image/backgrounds/foodsBg.jpg");
  margin-top: 50px;
}
#foodscontainer{
  background-color: white;
  margin-top: 70px;
  margin-bottom: 70px;
}
#navbarfoods{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-color: rgb(219, 224, 241);
}
#navbarfoods li{
  float: left;
  border-right: 1px solid #bbb;
}
#navbarfoods li a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
#active{
  background-color: white;
}
.navspan{
  padding-top: 40%;
  padding-bottom: 40%;
  color: red;
  font-weight: 200;
}
#customer{
  border: 2px solid rgb(196, 206, 234);
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 20px;
}
#happycustomer h4{
  color:rgb(255, 72, 0);
  text-align:center;
}
#happycustomer h5{
  text-align:center;
}
#happycustomer p{
  text-align: center;
}
#happycustomerdiv  span{
  padding-top: 15px;
  color: rgb(255, 72, 0);
}
#happycustomerdiv li{
  margin-left: 8px;
  float: left;
  list-style-type: none;
}
#aboutmenu h4{
  color:rgb(255, 72, 0);
  text-align:center;
}
#aboutmenu p{
  text-align: center;
}
button.subscribe{
  background-color: rgb(255, 72, 0);
  padding-top: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
}
#subscribe{
  padding-top: 25px;
  padding: 25px;
  background-color:inherit;
  font-size: 20px;
  color:white;
}
#myfooter{
  background-color: rgb(255, 72, 0);
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}
/*for the footer paragraph tag*/
#p1{
  font-size: 25px;
}
#p2{
  font-size: 20px;
  padding-left: 72px;
}
#facebook{
background-image: url("../image/footerlogos/facebook.png");
padding-top: 5px;
font-weight: bold;
height: 42px;
width: 42px;
color: red;
text-align: center;
background-repeat: no-repeat;
margin-right:10px;
font-size: 20px;
}
#twitter{
background-image: url("../image/footerlogos/twitter.png");
padding-top: 3px;
font-weight: bold;
text-align: center;
height: 42px;
width: 42px;
color: red;
text-align: center;
background-repeat: no-repeat;
margin-left: 20px;
margin-right: 10px;
font-size: 20px;
}
#piinterest{
  background-image: url("../image/footerlogos/pinterest.png");
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  width: 50px;
  color: red;
  padding-left: 5px;
  background-repeat: no-repeat;
  margin-left: 20px;
  font-size: 20px;
}
