
#fastfood{
  margin-top: 50px;
  border: 2px solid rgb(196, 206, 234);
  padding: 2%;
}
#fastfoods{
  margin-top: 50px;
  padding-left: 50px;
}
#fastdrinks{
  margin-top: 50px;
  text-align: right;
  padding-right: 50px;
}
#logo{
  background-image: url("../image/backgrounds/landing.jpg");
  height: 450px;
}
#logo1{
  color:white;
  font-size: 30px;
  align-items: center;
  margin-left: 35%;
  margin-top: 5%;
}
ul.topnav{
  overflow: hidden;
  margin: 0px;
  list-style-type: none;
  font-size: 30px;
}
ul.subtopnav{
  overflow: hidden;
  margin: 0px;
  list-style-type: none;
  font-size: 30px;
}
#happyhour{
  background-color: white;
}
#happyhour li{
  text-align: center;
  padding: 25px 25px;
  list-style-type: none;
}
#happyhour li a{
  text-decoration: none;
  color: grey;
}
#partytime{
  background-color: rgb(255, 72, 0);
}
#partytime li{
  text-align: center;
  padding: 34px 60px;
  list-style-type: none;
}
#partytime li a{
  text-decoration: none;
  color: white;
}
#breakfast{
  background-image: url("../image/foodtop/breakfast.jpg");
}
#breakfast li{
  text-align: center;
  padding: 85px 85px;
}
#breakfast li a{
  text-decoration: none;
  color: white;
}
#lunch{
  background-image: url("../image/foodtop/dinner2.jpg");
}
#lunch li{
  text-align: center;
  padding: 80px 80px;
}
#lunch li a{
  text-decoration: none;
  color: white;
}
#dinner{
  background-image: url("../image/foodtop/dinner.jpg");
}
#dinner li{
  text-align: center;
  padding: 80px 80px;
}
#dinner li a{
  text-decoration: none;
  color: white;
}
.happyhour{
  list-style-type: none;
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.happyhourlist{
  float: left;
  background-color:grey;
    padding: 10px;
    text-align: center;
}
.happyhourlink{
  text-decoration: none;
}
#partytime{
  background-color: #F15A29;
    padding-top: 10px;
    text-align: center;
}
#lunch{
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 10px;
  opacity:1;
}
#dinner{
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 10px;
}
#fastfoodimage{
  background-image: url("../image/backgrounds/subscribe.jpg");
  height: 200px;
  margin-top: 20px;
}
#viewgallery{
  height: 50px;
  padding-top:10px;
  margin-left:60px;
}
#viewgallery p{
  border-left: 2px 2px 2px 2px rgba(220,69,2,4);
}
#gallery{
  color: rgb(255, 72, 0);
  font-size: 15px;
  font-weight:100;
}
#navfoods{
  background-image: url("../image/backgrounds/foodsBg.jpg");
}
#foodscontainer{
  background-color: white;
  margin-top: 70px;
  margin-bottom: 70px;
}
#navbarfoods{
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-color: rgb(219, 224, 241);
}
#navbarfoods li{
  float: left;
  border-right: 1px solid #bbb;
}
#navbarfoods li a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}
#active{
  background-color: white;
}
.navspan{
  padding-top: 40%;
  padding-bottom: 40%;
  color: red;
  font-weight: 200;
}
#customer{
  border: 2px solid rgb(196, 206, 234);
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 20px;
}
#happycustomer h4{
  color:red;
  text-align:center;
}
#happycustomer h5{
  text-align:center;
}
#happycustomer p{
  text-align: center;
}
#happycustomerdiv  span{
  padding-top: 15px;
  color: red;
}
#happycustomerdiv li{
  margin-left: 8px;
  float: left;
  list-style-type: none;
}
#aboutmenu h4{
  color:red;
  text-align:center;
}
#aboutmenu p{
  text-align: center;
}
button{
  background-color: rgb(255, 72, 0);;
}
#subscribe{
  padding-top: 40px;
}
#myfooter{
  background-color: rgb(255, 72, 0);
  height: 100px;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
